@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden{
    display: none;
}

.invisible {
    clear : none;
    border : 0px none;
    float : none;
    background-color : transparent;
    outline : none;
}

.clock{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    text-align: center;
    font-family : FreeSans;
    font-size : 150px;
    color: white;
}

#greet{
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translateX(-50%);
    width: 550px;
    height: 30px;
    text-align: center;
    color: white;
    font-size : 45px;
    font-family : FreeSans;
}

#login {
    position: absolute;
    text-decoration: underline;
    text-underline-position:under;
    color : white;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    width: 500px;
    height: 40px;
    text-align: center;
    font-family: FreeSans;
    font-size : 30px;
}

#todo{
    text-decoration: underline;
    text-underline-position:under;
    color : white;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    width: 500px;
    height: 40px;
    text-align: center;
    font-family: FreeSans;
    font-size : 30px;
}

#todo-list{
    position: absolute;
    color: white;
    left: 49%;
    top: 80%;
    font-size: 15px;
    transform: translateX(-50%);
    text-align: center;
    font-family: FreeSans;
}

#quote{ 
    position:absolute;
    top:97%;
    left:50%;
    transform: translateX(-50%);
    font-family: FreeSans;
    font-size : 15px;
    color: white;
    text-align: center;
    
}

#weather{
    position: absolute;
    text-align: right;
    left: 90.3%;
    top:  1%;
    color: white;
}

.bgImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}