*:focus { outline:none; }

.hidden{
    display: none;
}

.invisible {
    clear : none;
    border : 0px none;
    float : none;
    background-color : transparent;
    outline : none;
}

.clock{
    position: absolute;
    left: 54%;
    top: 28%;
    transform: translateX(-42%);
    text-align: center;
    font-family : FreeSans;
    font-size : 150px;
    color: white;
}

#greet{
    position: absolute;
    left: 54.5%;
    top: 56%;
    transform: translateX(-42%);
    width: 550px;
    height: 30px;
    text-align: center;
    color: white;
    font-size : 45px;
    font-family : FreeSans;
}

#login {
    text-decoration: underline;
    text-underline-position:under;
    color : white;
    position: absolute;
    left: 56.3%;
    top: 73%;
    transform: translateX(-50%);
    width: 500px;
    height: 40px;
    text-align: center;
    font-family: FreeSans;
    font-size : 30px;
}

#todo{
    text-decoration: underline;
    text-underline-position:under;
    color : white;
    position: absolute;
    left: 54%;
    top: 75%;
    transform: translateX(-42%);
    width: 500px;
    height: 40px;
    text-align: center;
    font-family: FreeSans;
    font-size : 30px;
}

#todo-list{
    color: white;
    position: absolute;
    left: 50%;
    top: 80%;
    font-size: 15px;
    transform: translateX(-42%);
    text-align: center;
}

#quote{
    position: absolute;
    left: 54%;
    top: 96%;
    text-align: center;
    transform: translateX(-40%);
    font-family: FreeSans;
    font-size : 15px;
    color: white;
}

#weather{
    position: absolute;
    left: 89.5%;
    top:  2%;
    color: white;
}

.buttontrans{
    background-color : transparent;
}