.hidden {
  display: none;
}

html {
  height: 100%;
}

body {
  position: absolute;
  height: 100%;
  margin: 0;
  background: linear-gradient(80deg, rgb(101, 91, 248), rgb(105, 175, 255) 60%);
}

#square {
  position: absolute;
  width: 500px;
  height: 800px;
  background-color: white;
  top: 90px;
  left: 950px;
  border: 0.3px solid rgb(133, 133, 133);
  border-radius: 50px;
  box-shadow: 3px 3px 8px gray;
}

.letter {
  position: absolute;
  color: white;
  font-weight: normal;
  font-size: 55px;
  font-family: arial;
  letter-spacing: 0;
  line-height: 70px;
  left: 600px;
  top: 250px;
}

.date {
  position: absolute;
  color: white;
  font-size: 50px;
  font-family: arial;
  text-align: right;
  top: 410px;
  left: 730px;
  line-height: 60px;
}

.menu2 {
  position: absolute;
  block-size: 40px;
  top: 132px;
  left: 1065px;
}

.menu1 {
  position: absolute;
  block-size: 42px;
  top: 130px;
  left: 1300px;
}

.button {
  position: absolute;
  block-size: 30px;
  top: 870px;
  left: 1182px;
  z-index: 1;
}
.btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(73, 137, 255);
  border-radius: 50px;
  top: 860px;
  left: 1170px;
  border: 0;
  outline: 0;
  box-shadow: 1.2px 2px 4px rgb(85, 102, 255);
}

.btnCon {
  position: absolute;
  left: -290px;
  top: -90px;
}

.line {
  position: absolute;
  width: 500px;
  height: 1px;
  background: rgb(133, 133, 133);
  top: 200px;
  left: 951px;
}

.line2 {
  position: absolute;
  width: 1px;
  height: 110px;
  background: rgb(133, 133, 133);
  top: 90px;
  left: 1205px;
}

#form {
  position: absolute;
  top: 780px;
  left: 690px;
}

#toDoInput {
  width: 180px;
  height: 30px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1;
  border-color: white;
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
  font-size: 12px;
}

#a {
  position: relative;
  top: 5px;
  color: white;
  font-size: 10px;
  font-weight: normal;
}

#toDoList {
  list-style: none;
  text-align: left;
  text-decoration: none;
}

#toDoList li span {
  position: relative;
  color: rgb(63, 63, 63);
  font-weight: normal;
  font-size: 18px;
  font-family: arial;
  line-height: 28px;
  left: 10px;
  top: 1px;
}

#toDoList li button {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  float: auto;
}

.todo {
  position: relative;
  top: 210px;
  left: 940px;
}

#toDoList li button:last-child {
  position: relative;
  left: 15px;
  top: -1px;
}
